<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Enviar parametros del Request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar parametros del Request HTTP GET - URL</h1>
<ul>
	<li>
		<a th:href="@{/params/string(texto='Hello Chris')}">/params/string?texto=Hello Chris</a>
	</li>
	<li>
		<a th:href="@{/params/string(texto='Whats up John')}">/params/string?texto=What's up John</a>
	</li>
	<li>
		<a th:href="@{/params/mix-params(saludo='How are you, Chris', numero=7)}">params/mix-param?saludo=How are you, Chris&numero=7</a>
	</li>
	<li>
		<a th:href="@{/params/mix-params-request(saludo='How are you, Chris', numero=7)}">params/mix-param-request?saludo=How are you, Chris&numero=7</a>
	</li>
</ul>
</body>
</html>