<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>We are sorry, we can not find the page 404</title>
</head>
<body>
	<h3>Oops! we can not find the page</h3>
	<div th:text="${error}"></div>
	<div th:text="${message}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestamp}"></div>
	<hr>
	<div th:text="${path}"></div>
</body>
</html>