<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Oops! There was a problem</title>
</head>
<body>
	<h3>Oops! There was a problem 500</h3>
	<div th:text="${error}"></div>
	<div th:text="${message}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestamp}"></div>
	<hr>
	<div th:text="${trace}"></div>
</body>
</html>