<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary btn-xs">Register
						User</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Lastname</th>
							<th>Email</th>
							<th>Date</th>
							<th>Create Invoice</th>
							<th>Edit</th>
							<th>Delete
							<th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client : ${clients}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/show/} + ${client.id}" th:text="${client.id}"></a></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.lastname}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.createAt}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{'/invoice/form/' + ${client.id}}"
								th:text="'Create Invoice'"></a></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/form/} + ${client.id}" th:text="'Edit'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/delete/} + ${client.id}" th:text="'Delete'"
								onclick="return confirm('Are you sure that you want to remove this client?');"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>