<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="paginator">
		<ul class="pagination">
			<li class="page-item"
				th:class="${page.first? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${page.first}">Primera</span> <a
				class="page-link" th:if="${not page.first}"
				th:href="@{${page.url}(page=0)}">Primera</a></li>
			<li class="page-item"
				th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${not page.hasPrevious}">&laquo;</span> <a
				class="page-link" th:if="${page.hasPrevious}"
				th:href="@{${page.url}(page=${page.currentPage - 2})}">&laquo;</a>
			</li>

			<li class="page-item"
				th:class="${item.current? 'page-item active': 'page-item'}"
				th:each="item : ${page.pages}"><span class="page-link"
				th:if="${item.current}" th:text=${item.number}></span> <a
				th:if="${not item.current}" class="page-link"
				th:href="@{${page.url}(page=${item.number - 1})}"
				th:text="${item.number}"></a></li>
			<li class="page-item"
				th:class="${not page.hasNext? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${not page.hasNext}">&raquo;</span> <a
				class="page-link" th:if="${page.hasNext}"
				th:href="@{${page.url}(page=${page.currentPage})}">&raquo;</a></li>
			<li class="page-item"
				th:class="${page.last? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${page.last}">&Ucute;ltimo</span> <a
				class="page-link" th:if="${not page.last}"
				th:href="@{${page.url}(page=${page.totalPages - 1})}">&Uacute;ltimo</a></li>
		</ul>
	</nav>
</body>
</html>