<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text=${title}></title>
</head>
<body>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hello Chris'">/variables/string/Hello
				Chris</a></li>
		<li><a th:href="@{/variables/string/} + 'What is up Jonh'">/variables/string/What
				is up Jonh</a></li>
		<li><a
			th:href="@{/variables/string/} + ${title} + '/' + '4'">/variables/string/Hola
				Chris/4</a></li>
	</ul>

</body>
</html>