<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<div th:text="${result}"></div>
</body>
</html>