<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bglight">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs"
						th:href="@{'/invoice/form/' + ${client.id}}"
						th:text="'Create Invoice'"></a>
				</h4>
				<img th:if="${#strings.length(client.photo) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%"
					th:alt="${client.photo}" th:src="@{'/uploads/' + ${client.photo}}">

				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.lastname}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createAt}"></li>

				</ul>
				<div th:if="${#lists.isEmpty(client.invoices)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas asignadas para el cliente ' + ${client.name} + ' ' + ${client.lastname} "></div>
				<table th:if="${not #lists.isEmpty(client.invoices)}"
					class="table table-bordered table.striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>Folio</th>
							<th>Description</th>
							<th>Date</th>
							<th>Total</th>
							<th>View</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="invoice : ${client.invoices}">
							<th th:text="${invoice.id}"></th>
							<th th:text="${invoice.description}"></th>
							<th th:text="${invoice.createAt}"></th>
							<th th:text="${invoice.total}"></th>
							<th><a class="btn btn-primary btn-xs"
								th:href="@{'/invoice/show/' + ${invoice.id}}" th:text="'Detail'"></a></th>
							<th><a class="btn btn-danger btn-xs"
								th:href="@{'/invoice/delete/' + ${invoice.id}}"
								th:text="'Delete'"
								onclick=" return confirm('Are you sure you want to delete the invoice?');"></a></th>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>