<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<h3 th:text="${bill.description}"></h3>
	<div>
		Client: <span
			th:utext="${bill.client.name + ' ' + bill.client.fullName}"></span>
	</div>
	<h4>Detail of Bill</h4>
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Amount</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${bill.items}">
				<td th:text="${item.product.name}"></td>
				<td th:text="${item.product.amount}"></td>
				<td th:text="${item.quantity}"></td>
				<td th:text="${item.calculateTax()}"></td>
		</tbody>
	</table>
</body>
</html>