<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<section th:replace="components/time :: interceptor"></section>
	<h3 th:text="${title}"></h3>
	<div class="container">
		<form th:action="@{/form}" th:object="${user}" method="post">

			<!-- GENERO: List de String -->
			<div class="form-group row">
				<label for="enable" class="col-form-label col-sm-2">Enable</label>
				<div class="row col-sm-4">
					<input type="checkbox" id="enable" th:field="*{enable}"
						class="form-control col-sm-1">
				</div>
			</div>

			<!-- GENERO -->
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Gender</label>
				<div th:each="gen : ${gender}" class="row col-sm-2">
					<input type="radio" th:field="*{gender}" th:value="${gen}"
						class="form-control col-sm-2"> <label
						th:for="${#ids.prev('gender')}" th:text="${gen}"
						class="col-form-label col-sm-2"></label>
				</div>
				<div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
					class="alert alert-danger"></div>
			</div>

			<!-- PAIS: Lista de objecto Pais -->
			<div class="form-group row">
				<label for="country" class="col-form-label col-sm-2">Country</label>
				<div class="col-sm-4">
					<select id="country" th:field="*{country}" class="form-control">
						<option value="">-- select --</option>
						<option th:each="country : ${listCountries}"
							th:text="${country.value}" th:value="${country.id}"></option>
					</select>

				</div>
				<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
					class="alert alert-danger"></div>
			</div>

			<!-- ROL: List de objeto Rol -->
			<div class="form-group row">
				<label class="col-form-label col-sm-2">Roles</label>
				<div th:each="role: ${roleList}" class="row col-sm-2">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(user.roles, role)}"
						class="form-control col-sm-2"> <label
						th:for="${#ids.prev('roles')}" th:text="${role.name}"
						class="col-form-label col-sm-2"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
					class="alert alert-danger"></div>
			</div>


			<div class="form-group row">
				<label for="id" class="col-form-label col-sm-2">Id</label>
				<div class="col-sm-4">
					<input type="text" id="id" th:field="*{id}" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
					class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-form-label col-sm-2">Name</label>
				<div class="col-sm-4">
					<input type="text" id="name" th:field="*{name}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="lastname" class="col-form-label col-sm-2">Lastname</label>
				<div class="col-sm-4">
					<input type="text" id="lastname" th:field="*{lastname}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('lastname')}"
					th:errors="*{lastname}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="username" class="col-form-label col-sm-2">Username</label>
				<div class="col-sm-4">
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-form-label col-sm-2">Password</label>
				<div class="col-sm-4">
					<input type="password" id="password" th:field="*{password}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-form-label col-sm-2">Email</label>
				<div class="col-sm-4">
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
					class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="account" class="col-form-label col-sm-2">Account</label>
				<div class="col-sm-4">
					<input type="number" id="account" th:field="*{account}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('account')}" th:errors="*{account}"
					class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="dateBirthday" class="col-form-label col-sm-2">Birthday</label>
				<div class="col-sm-4">
					<input type="date" id="dateBirthday" th:field="*{dateBirthday}"
						placeholder="yyyy-MM-dd" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('dateBirthday')}"
					th:errors="*{dateBirthday}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-4">
					<input type="submit" value="Enviar" class="btn btn-primary">
				</div>
			</div>
			<input type="hidden" th:field="*{secretValue}">
		</form>
	</div>
</body>
</html>