<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<section th:replace="components/time :: interceptor"></section>
	<div class="container">
		<a th:href="@{/form}" class="btn btn-success btn-lg my-3">Back</a>
		<ul class="list-group my-2">
			<li class="list-group-item active" th:text="${title}"></li>
			<li class="list-group-item" th:text="${user.id}"></li>
			<li class="list-group-item" th:text="${user.name}"></li>
			<li class="list-group-item" th:text="${user.lastname}"></li>
			<li class="list-group-item" th:text="${user.username}"></li>
			<li class="list-group-item" th:text="${user.password}"></li>
			<li class="list-group-item" th:text="${user.email}"></li>
			<li class="list-group-item" th:text="${user.account}"></li>
			<li class="list-group-item"
				th:text="${#calendars.format(user.dateBirthday, 'dd/MM/yyyy')}"></li>
			<!-- <li th:text="${#dates.format(user.datebirthday, 'dd/mm/yyyy')}"></li> -->
			<li class="list-group-item" th:text="${user.country.id}"></li>
			<li class="list-group-item" th:text="${user.country.code}"></li>
			<li class="list-group-item" th:text="${user.country.value}"></li>
			<li class="list-group-item" th:text="'Enable: ' + ${user.enable}"></li>
			<li class="list-group-item" th:text="'Gender: ' + ${user.gender}"></li>
			<li class="list-group-item" th:text="${user.secretValue}"></li>
		</ul>
		<ul class="list-group my-3">
			<!-- <li th:each="role : ${user.roles}" th:text="${role}"></li> -->
			<li class="list-group-item active" th:text="'Roles'"></li>
			<li class="list-group-item" th:each="role : ${user.roles}"
				th:text="${role.id} + ': ' + ${role.name} + ' => ' + ${role.role}"></li>
		</ul>
	</div>
</body>
</html>