<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
	<h1 class="color-rojo" th:text=${title}></h1>
	<h2 class="color-azul">Decorando con estilos css recursos estaticos</h2>
	<img alt="" th:src="@{/img/paris.jpg}">

</body>
</html>