<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${title}"></title>
</head>
<body>
<div th:if="${users.isEmpty()}">There are not users to show</div>
<table th:if="${not users.isEmpty()}">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user: ${users}">
			<th th:text="${user.nombre}"></th>
			<th th:text="${user.apellido}"></th>
			<th th:text="${user.email}"></th>
		</tr>
	</tbody>
</table>
</body>
</html>