<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{'/show/' + ${invoice.client.id}}"
						class="btn btn-light btn-xs">&laquo; Back</a>
				</h4>
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Information of the Client'"></li>
					<li class="list-group-item" th:text="${invoice.client}"></li>
					<li class="list-group-item" th:text="${invoice.client.email}"></li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item list-group-item-success"
						th:text="'Information of the invoice'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${invoice.id}"></li>
					<li class="list-group-item"
						th:text="'Description: ' + ${invoice.description}"></li>
					<li class="list-group-item"
						th:text="'Date: ' + ${invoice.createAt}"></li>
				</ul>
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(invoice.items)}"
					th:text="'We can not find items from the invoice' + ${invoice.description}"></div>
				<table class="table table-striped table-hover table-bordered my-3"
					th:if="${not #lists.isEmpty(invoice.items)}">
					<thead>
						<tr>
							<th>Product</th>
							<th>Amount</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line : ${invoice.items}">
							<td th:text="${line.product.name}"></td>
							<td th:text="${line.product.amount}"></td>
							<td th:text="${line.quantity}"></td>
							<td th:text="${line.calculationAmount()}"></td>
						</tr>
					</tbody>
				</table>
				<h5 class="float-right">
					Grand Total <span th:text="${invoice.total}"
						class="badge badge-secondary"></span>
				</h5>
				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Observations</div>
					<div class="card-body">
						<p class="card-text" th:text="${invoice.observation}"
							th:if="${not #strings.isEmpty(invoice.observation)}"></p>
						<h4 class="card.title"
							th:if="${#strings.isEmpty(invoice.observation)}"
							th:text="'The Invoice does not have observation'"></h4>
					</div>
				</div>
				<h4 class="card-title">
					<a th:href="@{'/show/' + ${invoice.client.id}}"
						class="btn btn-light btn-xs">&laquo; Back</a>
				</h4>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>