<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section th:fragment="interceptor">
		<div class="alert alert-success" th:if="${elapsedTime != null}">
			<span th:text="'Elapsed time: ' + ${elapsedTime} + ' in Mileseconds'"></span>
		</div>
	</section>
</body>
</html>